<!--
 Copyright European Organization for Nuclear Research (CERN)

 Licensed under the Apache License, Version 2.0 (the "License");
 You may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 http://www.apache.org/licenses/LICENSE-2.0

 Authors:
 - Thomas Beermann, <thomas.beermann@cern.ch>, 2015
-->

$var title: Rules Backlog Monitoring
$var script: <script src="/static/backlog_mon.js"></script>

<div class="row">

  <div id="t_data" class="columns panel">
    <form>
      <div class="row collapse">
        <div class="large-2 columns">
          <label>Account</label>
            <input id="account_input" type="text" placeholder="Account" />
        </div>
        <div class="large-2 columns">
          <label>Activity</label>
            <input id="activity_input" type="text" placeholder="Activity" />
        </div>
        <div class="large-2 columns">
          <label style="visibility: hidden;">.</label>
          <a class="button postfix inline" id="load_button">Load</a>
        </div>
        <div class="large-4 columns">
        </div>
        <div class="large-2 columns">
          <label style="visibility: hidden;">.</label>
          <a class="button postfix inline" id="url_button">Get Link</a>
        </div>
      </div>
    </form>
    <div id="results"></div>
  </div>
</div>

<div id="problem"></div>

<div id="myModal" class="reveal-modal" data-reveal>
  <p id="copyurl"><p>
    <a class="close-reveal-modal">&#215;</a>
</div>
