<!--
 Copyright European Organization for Nuclear Research (CERN)

 Licensed under the Apache License, Version 2.0 (the "License");
 You may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 http://www.apache.org/licenses/LICENSE-2.0

 Authors:
 - Thomas Beermann, <thomas.beermann@cern.ch>, 2015
-->

$var title: Request Rule
$var script: <script src="/static/request_rule.js"></script>

<div id="main">
  <div id="info_panel" class="content active">
    <div class="row">
      <p>Your input will be saved until you submit it. If you want to clear the form please click <a id="clear_data">here</a><p>
    </div>
  </div>
  <dl class="accordion" data-accordion>
    <dd class="accordion-navigation large-8">
      <a href="#did_panel">Select DIDs</a>
      <div id="did_panel" class="content active">
        <ul class="tabs" data-tab>
          <li class="tab-title active"><a href="#panel1">DID Pattern Search</a></li>
          <li class="tab-title"><a href="#panel2">List of DIDs</a></li>
        </ul>
        <div class="tabs-content">
          <div class="content active" id="panel1">
            <div class="row">
              <p>Please start by entering a DID or DID wildcard and search for either containers or datasets. Then select the requested DIDs. Please do not use a trailing '/' for containers</p>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <form id="did_form">
                  <div class="row collapse">
                    <div class="large-2 columns">
                      <label for="pattern-label" class="left inline">Data pattern</label>
                    </div>
                    <div class="large-5 columns">
                      <input type="text" id="pattern_input" placeholder="scope:name...">
                    </div>
                    <div class="large-2 columns">
                      <a class="button postfix" id="search_did_button">Search</a>
                    </div>
                    <div class="large-3 columns inline" style="padding-left: 15px;">
                      <input type="radio" name="didtype" value="container" id="container_type">
                      <label for="grouping_all">Container</label>
                      <input type="radio" name="didtype" value="dataset" id="dataset_type" checked>
                      <label for="grouping_dataset">Dataset</label>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <div id="did_message"></div>
              </div>
            </div>
            <div id="did_search">
            </div>
          </div>
          <div class="content" id="panel2">
            <div class="row">
              <p>If you want to create a rule for several DIDs without a pattern, here you can enter them, one DID per line:</p>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <textarea rows="10" id="multi_did_input"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <form id="multi_did_form">
                  <div class="row collapse">
                    <div class="large-2 columns">
                      <a class="button postfix" id="search_multi_did_button">Search</a>
                    </div>
                  </div>
                </form>
              </div>
            <div class="row">
              <div class="large-12 columns">
                <div id="multi_did_message"></div>
              </div>
            </div>
            <div id="did_multi_search">
            </div>
          </div>
        </div>
      </div>
    </dd>
    <dd class="accordion-navigation large-8">
      <a href="#rse_panel">Selects RSEs</a>
      <div id="rse_panel" class="content">
        <div class="row">
          <p>Please enter an RSE or an RSE expression.</p>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <div class="row collapse">
              <div class="small-2 columns">
                <label for="rse-label" class="left inline">RSE (expression)</label>
              </div>
              <div class="small-8 columns">
                <input type="text" id="rse_input" placeholder="RSE">
              </div>
              <div class="small-2 columns">
                <a class="button postfix" id="search_rse_button">Check Quota</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div id="quota_details" class="large-8 columns">
          </div>
        </div>
        <div class="row">
          <div id="rse_table" class="large-12 columns">
          </div>
        </div>
        <div class="row" id="rse_continue">
        </div>
      </div>
    </dd>
    <dd class="accordion-navigation large-8">
      <a href="#options_panel">Options</a>
      <div id="options_panel" class="content">
        <div class="row">
          <p>Please select/enter your wanted options and then submit your rule request.</p>
        </div>
        <div class="row">
            <div class="large-5 columns">
              <label><span data-tooltip aria-haspopup="true" class="has-tip" title="If you select None the files of a DID can spread over multiple RSEs. 'Dataset' makes sure that all files of a dataset are replicated to the same RSE. With 'All' everything will be replicated to the same RSE.">Grouping</span></label>
              <form id="grouping_form">
              <input type="radio" name="grouping" value="ALL" id="grouping_all">
              <label for="grouping_all">All</label>
              <input type="radio" name="grouping" value="DATASET" id="grouping_dataset" checked>
              <label for="grouping_dataset">Dataset</label>
              <input type="radio" name="grouping" value="NONE" id="grouping_none">
              <label for="grouping_none">None</label>
              </form>
            </div>
        </div>
        <div class="row">
          <div class="large-5 columns">
            <label>Lifetime (in days). Leave empty for infinite lifetime.
              <input type="text" id="lifetime" value="15"></input>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-5 columns">
            <label>Copies
              <input type="text" placeholder="" id="copies" value="1"/ >
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-5 columns">
            <label>Comment
              <textarea placeholder="" id="comment"></textarea>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-2 columns">
            <label style="visibility: hidden;">.</label>
            <div class="button postfix" id="options_continue">Continue</div>
          </div>
          <div class="large-6 columns">
            <label style="visibility: hidden;">.</label>
            <div id="check_text"></div>
          </div>
          <div class="large-4 columns">
          </div>
        </div>
    </dd>
    <dd class="accordion-navigation large-8">
      <a href="#summary_panel">Summary</a>
      <div id="summary_panel" class="content">
      </div>
    </dd>
  </dl>
</div>
