<!--
 Copyright European Organization for Nuclear Research (CERN)

 Licensed under the Apache License, Version 2.0 (the "License");
 You may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 http://www.apache.org/licenses/LICENSE-2.0

 Authors:
 - Thomas Beermann, <thomas.beermann@cern.ch>, 2015
-->

$var title: RSE Account Usage
$var script: <script src="/static/rse_account_usage.js"></script><script src="https://code.highcharts.com/highcharts.js"></script><script src="https://code.highcharts.com/modules/exporting.js"></script>

<div class="panel">
  <div class="row">
    <label>RSE</label>
  </div>
  <div class="row collapse">
    <div class="columns large-4">
      <input type="text" id="rse_input" placeholder="RSE"></input>
    </div>
    <div class="columns large-2">
      <a class="button postfix" id="select_rse">Select</a>
    </div>
    <div class="columns large-6">
    </div>
  </div>

  <div id="problem" class"row">
  </div>

  <div class="row">
    <table id="resulttable" class="compact stripe order-column" style="word-wrap: break-word;">
      <thead><tr><th>Account</th><th>Quota (TB)</th><th>Used (TB)</th><th>Available (TB)</th><th>Files</th></tr></thead>
      <tfoot><tr><th>Account</th><th>Quota (TB)</th><th>Used (TB)</th><th>Available (TB)</th><th>Files</th></tr></tfoot>
    </table>
  </div>
</div>
