<!--
 Copyright European Organization for Nuclear Research (CERN)

 Licensed under the Apache License, Version 2.0 (the "License");
 You may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 http://www.apache.org/licenses/LICENSE-2.0

 Authors:
 - Thomas Beermann, <thomas.beermann@cern.ch>, 2014-2015
 - Mario Lassnig, <mario.lassnig@cern.ch>, 2014
-->

$var title: RSE Usage
$var script: <script src="/static/rse_usage.js"></script><script src="https://code.highcharts.com/highcharts.js"></script><script src="https://code.highcharts.com/modules/exporting.js"></script><script src="/static/jquery.multiple.select.js"></script><link rel="stylesheet" href="/static/multiple-select.css">

<div class="row">
  <div class="large-4 columns">
    <center>
      <ul class="button-group round">
        <li><a id="clear_selection" class="button small">Clear selection</a></li>
        <li><a id="redraw_chart" class="button small">Redraw chart</a></li>
        <li><a id="get_link" class="button small">Get Link</a></li>
      </ul>
    </center>
    <div>
      <select id="rseselect" multiple="multiple"></select>
    </div>
  </div>
  <div class="large-8 columns panel">
    <div id="rseplot"></div>
  </div>
  <div id="myModal" class="reveal-modal" data-reveal>
    <p id="copyurl"><p>
    <a class="close-reveal-modal">&#215;</a>
  </div>
</div>
